.montserrat-fonty {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Montserrat";
}


p {
    margin: 0;
}

body {
    margin: 0;
}



/* nav bar */

.wrapper_outer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    padding: 1rem 5rem;
    border-radius: 1rem;
    margin: 1rem;
    /* position: fixed;
    width: 98.4%; */
}

.wrapper_inner {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.create_job_btn {
    font-size: 1.5rem;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 
        0 3px 0 #7a7a7a;
}

.create_job_btn:active {
    box-shadow: none;
}

.page_redirect {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s;
}

.page_redirect:hover {
    background-color: white;
    color: black;
    box-shadow: 
        0 0.15rem 0 #7a7a7a;
}

.page_redirect:active {
    box-shadow: none;
}

.marketplace_redirect,
.accepted_jobs_redirect,
.posted_jobs_redirect,
.settings_redirect {
    background-color: white;
    color: black;
}



/* accepted jobs */

.wrapper {
    margin: 10rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 90%;
}

.job_box {
    background: #0b1424;
    box-shadow:
        0 0 0 1px rgba(90, 120, 255, 0.15),
        0 10px 30px rgba(0, 0, 0, 0.6);
    color: white;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 1rem;
    padding: 2rem 1.2rem;
    height: 30rem;
    font-size: 1.5rem;
}
.box3 {
    justify-content: center;
    align-items: center;
    outline: 2px dashed white;
    outline-offset: -12px;
}

.job_title {
    font-size: 1.8rem;
    text-decoration: underline;
}

.job_info {
    font-size: 1.2rem;
    opacity: 0.8;
}

.add_btn_in {
    border: none;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.add_btn_in:hover {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    font-size: 2.25rem;
}

/* create job overlay menu */

.create_menu {
    backdrop-filter: blur(80px);
}